In [1]:
str = input("Enter your state of origin:")

print ("Your state of origin is: ", str)
print ("The first character is: ", str[0])
print ("The characters starting from 3rd to 5th are: ", str[2:5])
print ("The string starting from 3rd character is: ", str[2:])
print ("State of origin two times", str*2)

Enter your state of origin: aladldm

Your state of origin is:  aladldm
The first character is:  a
The characters starting from 3rd to 5th are:  adl
The string starting from 3rd character is:  adldm
State of origin two times aladldmaladldm

In [3]:
m = float(input("Enter mass in kilograms: "))

c = 299792458

energy = m * c ** 2

print(f"The energy equivalent to {m} kg of mass is {energy} joules.")

Enter mass in kilograms:  10

The energy equivalent to 10.0 kg of mass is 8.987551787368177e+17 joules.

In [5]:
list = [ 'Anaconda', 786 , 2.23, 'Jupyter', 70.2]
shortlist = [321, 'python']

print(list)          
print(list[0])         
print(list[1:3])
print(list[2:])
print(shortlist * 2)
print(list + shortlist)

['Anaconda', 786, 2.23, 'Jupyter', 70.2]
Anaconda
[786, 2.23]
[2.23, 'Jupyter', 70.2]
[321, 'python', 321, 'python']
['Anaconda', 786, 2.23, 'Jupyter', 70.2, 321, 'python']

In [7]:
tuple = ("Ekiti", 750, 'Oshogbo', 250, "Akure", 500)
s_tuple = ("Abeokuta", 300, "Ogbomoso")

print(tuple)

print(tuple[-1])

print(tuple[2:4])

print(tuple[3:])

print(s_tuple * 3)

print(tuple + s_tuple)

('Ekiti', 750, 'Oshogbo', 250, 'Akure', 500)
500
('Oshogbo', 250)
(250, 'Akure', 500)
('Abeokuta', 300, 'Ogbomoso', 'Abeokuta', 300, 'Ogbomoso', 'Abeokuta', 300, 'Ogbomoso')
('Ekiti', 750, 'Oshogbo', 250, 'Akure', 500, 'Abeokuta', 300, 'Ogbomoso')

In [11]:
game_1 = 2
game_2 = 4
print(bool(game_1 == game_2))

val = None
print(bool(val))

num = ()
print(bool(num))

age = True
print(bool(age))

False
False
False
True

In [23]:
grade = int(70)
gpa = float(4.9)
cgpa = int("4")

print(f"Grade = {grade}")
print(f"GPA = {gpa}")
print(f"CGPA = {cgpa}")

Grade = 70
GPA = 4.9
CGPA = 4

In [ ]:
grade = float(97)
gpa = float(5)
cgpa = float("4.7")

print(f"Grade = {grade}")
print(f"GPA = {gpa}")
print(f"CGPA = {cgpa}")